$color_black                      : #000;
$color_white                      : #fff; 
$color_brand                      : #32916F;
$color_bg                         : #1A2F38;



$normalized_font_family           : 'Poppins', sans-serif;

$letter_spacing_base              : 0;

$font_size_base                   : 20px;
$line_height_base                 : 150%;

$background                       : $color_white;
$link_color                       : $color_black ;
$link_color_hover                 : $color_brand;
$color_error                      : darken(red, 10%);

$h1_font_size                     : 3rem;
$h2_font_size                     : 2.25rem;
$h3_font_size                     : 1.5rem;
$lead_font_size                   : 1.25rem;




// z-index
$z_index_over_all                 : 10000;
$z_index_modal                    : 9000;
$z_index_overlay                  : 8000;
$z_index_dropdown                 : 7000;
$z_index_header                   : 6000;
$z_index_footer                   : 5000;
$z_index_over_content             : 1000;
$z_index_over_base                : 10;
$z_index_content                  : 5;
$z_index_base                     : 1;
$z_index_under_base               : -10;

$transition_default               : all 300ms ease;
$transition_slow                  : all 800ms ease;
$transition_fast                  : all 100ms ease;


// RWD

$bp-super-narrow                  : ( max:  419px );
$bp-mobile-narrow                 : ( max:  479px );
$bp-mobile                        : ( max:  767px );

$bp-phablet                       : ( max:  767px );
$bp-portrait                      : ( max:  1023px );
$bp-tablet                        : ( min: map-get($bp-mobile, max) + 1, max:  1299px );
$bp-desktop                       : ( max: 1359px );
$bp-min-desktop                   : ( min: 1200px );
$bp-hd                            : ( min: map-get($bp-desktop, max) + 1 );

$bp-mobile                        : $bp-mobile;
$bp-phablet-only                  : ( min: map-get($bp-mobile, max) + 1, max: map-get($bp-phablet, max) );
$bp-portrait-only                 : ( min: map-get($bp-phablet, max) + 1, max: map-get($bp-portrait, max) );
$bp-tablet-only                   : ( min: map-get($bp-portrait, max) + 1, max: map-get($bp-tablet, max) );
$bp-desktop-only                  : ( min: map-get($bp-tablet, max) + 1, max: map-get($bp-desktop, max) );
$bp-hd-only                       : $bp-hd;
