/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   
    border-radius: 5px;
    background-color: #32916F;
  }

  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border: 1px solid #1A2F38;
    border-radius: 10px;
    background-color: #1A2F38;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #32916F;
  }





  /* text selection */

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #32916F;
  }
  
  ::selection {
    color: white;
    background: #32916F;
  }